APP_NAME = ERP Backend
APP_ENV = local

# Эти данные для самого БД который билдится через докер
POSTGRES_USER=юзер для постгреса
POSTGRES_PASSWORD=пароль от юзера
POSTGRES_DB=название БД 


# Сдесь данные которые только для бэка
DATABASE_HOST=хост от БД
DATABASE_NAME=название для БД
DATABASE_USER=юзер для БД
DATABASE_PASSWORD=Пароль от юзера
DATABASE_PORT=порт # По дефолту 5432
